<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>

<!-- Gridlex -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"
		/>

		<!-- Fontawesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
			integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<!-- Google Fonts  -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap"
			rel="stylesheet"
		/>

<!-- My custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>

 <header class="grid">
			<div class="col-6_sm-12-middle padded-0 center-sm">
				<h1>The Design Collective</h1>
			</div>
			<nav class="col-6_sm-12-middle right padded-0 center-sm">
				<a href="/">Home</a>
				<a href="/about.html">About</a>
				<a href="/services.html">Services</a>
				<a href="/portfolio.html">Portfolio</a>
				<a href="/contact.html">Contact</a>
			</nav>
		</header>

    {{content}}

 
		<!-- Footer -->
		<footer class="padded grid-spaceBetween bg-dark" id="contact">
			<div class="col-5-_sm-12-middle padded light-text center-sm">
				<h2>The Design Collective</h2>
				<h3>Web Design & Development</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, commodi
					quas dolore dolorem odit ea numquam rerum consequatur provident, saepe
					autem aut totam! Quisquam sequi aperiam cumque blanditiis facere
					repudiandae!
				</p>
			</div>
			<div class="col-5-bottom padded light-text right center-sm">
				<h3 class="center-sm">Let's connect</h3>
				<nav>
					<a href="#"> <i class="fab fa-pinterest-p"></i> </a>
					<a href="#"> <i class="fab fa-instagram"></i> </a>
					<a href="#"> <i class="fab fa-facebook-f"></i> </a>
					<a href="#"> <i class="fab fa-twitter"></i> </a>
				</nav>
			</div>
		</footer>
		<div class="bg-dark padded-1">
			<p class="light-text center">Copyright 2021</p>
		</div>   
</body>

</html>